/JavaApplication12/nbproject/private/
/Ejercicio1_Taller5/nbproject/private/
/Ejercicio1_Taller5/build/
/Ejercicio2_Taller5/nbproject/private/
/Ejercicio2_Taller5/build/
/Ejercicio3_Taller5/nbproject/private/
/Ejercicio3_Taller5/build/
/Ejercicio4_Taller5/nbproject/private/
/Ejercicio4_Taller5/build/
