/JavaApplication12/nbproject/private/
/Ejercicio1_Taller5/nbproject/private/
/Ejercicio1_Taller5/build/
/Ejercicio2_Taller5/nbproject/private/
/Ejercicio2_Taller5/build/
/Ejercicio3_Taller5/nbproject/private/
/Ejercicio3_Taller5/build/
/Ejercicio4_Taller5/nbproject/private/
/Ejercicio4_Taller5/build/
/Ejercicio5_Taller5/nbproject/private/
/Ejercicio5_Taller5/build/
/Ejercicio6_Taller5/nbproject/private/
/Ejercicio6_Taller5/build/
/Ejercicio7_Taller5/nbproject/private/
/Ejercicio7_Taller5/build/
/ejercicio11_taller5/nbproject/private/
/ejercicio11_taller5/build/
